<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="/user/layout/frame">
<head>
<meta charset="UTF-8">
<title>更改密码</title>
</head>
<body>
<div layout:fragment="content">
<!-- 修改密码模块 -->

        <div role="tabpanel" class="tab-pane" id="chan">
            <div class="check-div"></div>
            <div
                style="padding: 50px 0; margin-top: 50px; background-color: #fff; text-align: right; width: 420px; margin: 50px auto;">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="sKnot" class="col-xs-4 control-label">原密码：</label>
                        <div class="col-xs-5">
                            <input type="" class="form-control input-sm duiqi" id="sKnot1"
                                placeholder="" style="margin-top: 7px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sKnot" class="col-xs-4 control-label">新密码：</label>
                        <div class="col-xs-5">
                            <input type="" class="form-control input-sm duiqi" id="sKnot2"
                                placeholder="" style="margin-top: 7px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sKnot" class="col-xs-4 control-label">重复密码：</label>
                        <div class="col-xs-5">
                            <input type="" class="form-control input-sm duiqi" id="sKnot3"
                                placeholder="" style="margin-top: 7px;">
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <div class="col-xs-offset-4 col-xs-5" style="margin-left: 169px;">
                            <button type="reset" class="btn btn-xs btn-white">取 消</button>
                            <button type="button" class="btn btn-xs btn-green" id="butt">保存</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/layui/layui.all.js"></script>
<script type="text/javascript">
jQuery.noConflict();
jQuery("#butt").click(function() {
		updatedPass();		
	            });		
function updatedPass(){
			var oldPassword = jQuery("#sKnot1").val();
			var newPass = jQuery("#sKnot2").val();
		 	var newPass2 = jQuery("#sKnot3").val();
	          jQuery.ajax({
	                type: 'POST',
	                url : '/updatedPass',
	                datatype: 'json',
	                data: {    
	                    'oldPassword' :oldPassword,
	                    'newPass' :newPass,
	                    'newPass2' : newPass2
	                },
	                success : function(data) {
	                    if (data.status == 0) {
	                         layer.msg(data.result,{icon:5});
	                    }else if(data.status == -1){
	                    
	                    	layer.msg(data.result,{icon:5});
	                    }else if(data.status == 1){
                           
	                    	layer.msg(data.result,{icon:5});
                        }
	                },
	                });
	          }
</script>
</div>
    
</body>
<!-- Javascript -->

</html>